body{
  font-family: 'Roboto', sans-serif;
  color: #2B2B2B;
}

.btn-group-sm a {
  padding: 7.5px;
}

.top{
  margin-top:50px;
}

.ubuntu{
  font-family: 'Ubuntu', sans-serif;
}

.small-f{
  font-size: 16px !important;
}

.blue-font {
  color: #2196F3;
}

.codea-y {
  color: #FFC842;
}

.codea-b {
  color: #1F8DD3;
}

.blue-bg {
  background-color: #2196F3;
}

.contact {
  opacity: 75%;
  color: white;
}

.round{
  vertical-align: middle;
  border-radius: 50%;
  align-self: center;
}

.btn-group {
  min-width: max-content;
  right: 10px;
}

.btn-round{
  border-radius: 10%;
}

.vertical-align{
  margin-top:20px;
}

.goku {
  display: flex;
  justify-content: center;
  align-items: center;
}

.together img {
  display: inline-block;
}

.thumbnail, .tri-d, .btn {
  filter: drop-shadow(1px 1px 1px #2196F3) drop-shadow(-1px -1px 1px #C62828);
}

.thumbnail:hover, .tri-d:hover, .btn:hover {
  filter: drop-shadow(1px 1px 1px #C62828) drop-shadow(-1px -1px 2px #2196F3);
}
